<nav>
  <div class="nav-movil">
    <a id="nav-boton" href="#!">
      <span></span>
    </a>
  </div>
  <ul class="nav-menu">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="views/eventos.html">Eventos</a></li>
    <li>
      <a a href="views/talleres.html">Talleres</a>
    </li>
    <li>
      <a>Cursos <i class="fa-solid fa-angle-down"></i></a>
      <ul class="nav-submenu">
        <li><a href="views/dibujotecnico.html">Dibujo técnico</a></li>
        <li><a href="views/dibujoartistico.html">Dibujo artístico</a></li>
        <li><a href="views/intensivos.html">Intensivos</a></li>
      </ul>
    </li>
    <li><a href="views/contacto.html">Contacto</a></li>
  </ul>
</nav>